/* Imports all DM Sans, DM Serif Text, DM Serif Display styles. */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap");

#app {
  background-color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0; /* Removes default margin. */
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.home {
  margin: 150px 32px;
  display: flex;
  place-items: center;
  flex-direction: column;
}

a {
  color: #000000;
}

#name-title {
  font-size: 48px;
  font-weight: normal;
  display: block;
}
